/### change
-$title     = "Sélection spéciale SOLDES chez Chien Chat & Compagnie !"
-$txtheader = "SOLDES chez Chien Chat & Compagnie !<br />Retrouvez tous nos produits à prix barré pour votre animal de compagnie.<br />Profitez-en vite !"
/### do not change
-$url       ="https://www.chienchatetcompagnie.com/fr/";$urlCat ="https://www.chienchatetcompagnie.com/cat/fr/"
-$index     ="index.aspx"
-$srcmedium =["?utm_source=NL&utm_medium=email","&utm_source=NL&utm_medium=email"]
-$content   =["&utm_content=","url","garantie","livraison","paiement","contact","desabo"]
/ compact
-rayon  = "boutique/rayon_evenement.aspx?urlLangue=fr&nbp=99&pg=0&evenement_id="
-urlRay = "#{$url}#{rayon}#{$IDray[:fr]}#{$srcmedium[1]}#{$content[0]}"
-pdt    = ["0", ""]

/### content link ["logo", "accroche", "pdt", "prix", "bouton" ]
- $s1_logo  = "#{$url}#{$index}#{$srcmedium[0]}#{$content[0]}logo#{$campaign}"
/ ### TO_CHANGE
- $s3_accroche     = "#{$url}#{rayon}#{$IDray[:fr]}#{$srcmedium[1]}#{$content[0]}corps#{$campaign}"
- $s4c1_60pct      = "#{$url}#{rayon}#{$IDray[:fr]}#{$srcmedium[1]}#{$content[0]}corps#{$campaign}"
- $s4c2_pctUnivers = "#{$url}#{rayon}#{$IDray[:fr]}#{$srcmedium[1]}#{$content[0]}corps#{$campaign}"
- $s5_btn          = "#{$url}#{rayon}#{$IDray[:fr]}#{$srcmedium[1]}#{$content[0]}btn#{$campaign}"

/ alt + title
- $alt_s3_accroche     = "Découvrez vite notre sélection SOLDES"
- $alt_s4c1_60pct      = "Jusqu’à -40%"
- $alt_s4c2_pctUnivers = "Hygiène, manteaux, accessoires, astuces."
- $alt_s5_btn          = "Accédez à la vente"

/ alt NE PAS CHANGER
- $alt_logo            = "CHIEN, CHAT ET COMPAGNIE"
