- $domSas = { # ...,
  s1: "DOMOTI SAS, capital de 100 000€ - RCS Lille B 342 883 758",
  }

/ temp
- $asterisque= { # ...,
  s1: "* Offre valable du mercredi 10 janvier au mardi 20 février 2018 dans la limite des stocks disponibles sur une sélection d'articles.",
  }
// LEGAL (ne pas modifier)
- $modalites = "#{$url}pages/settlement.aspx?utm_source=NL&utm_medium=email&utm_content=garantie&utm_campaign="+$campaign+"#info-legale-2"
- $cgv       = "#{$url}achat_confiance/conditions-generales-de-vente.aspx?utm_source=NL&utm_medium=email&utm_content=cgv&utm_campaign="+$campaign
- $contact   = "#{$url}chat_et_vous/contact.aspx?val=A&utm_source=NL&utm_medium=email&utm_content=contact&utm_campaign="+$campaign
- $desabo    = "#{$url}animation/DesinscriptionNewsletter.aspx?utm_source=NL&utm_medium=email&utm_content=desabo&utm_campaign="+$campaign