- $nbpk   = [1, 2, 3, 4, 5]
- $putLib = ["Brosses auto nettoyantes", "Ecuelle tête de chat", "Couverture doudou pour chien", "Collier anti-puces fluo 2 tailles", "Collier chat arc-en-ciel"]
- $putPri = ["19.95 €", "5.50 €", "29.99 €", "6.90 €", "4.50 €"]
- $ref    = ["2907178", "1724178", "2867174", "1169176", "2642171"]
