- $nbpk   = [1, 2, 3, 4, 5]
- $putLib = ["Fil Dolphin : les couleurs multicolores", "Kit Perles Autocollantes Roses", "Maison miniature à créer Salon", "Kit broderie perles : Perroquets", "Kit matriochka à broder : Printemps, Eté, Automne et Hiver"]
- $putPri = ["8.99 €", "24.99 €", "49.90 €", "49.90 €", "39.90 €"]
- $ref    = ["2621191", "4231494", "2946192", "2873198", "2479194"]
